.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.control {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background-color: #fff7e9;
  width: 100%;
  height: 100%;
  border-radius: 50% 0 0 50%;
  gap: 30px;
}
